# https://gist.github.com/adamgit/3786883
.DS_Store
.Trashes
*.swp
*~.nib

DerivedData/
build/
*.xccheckout
xcuserdata/
completer/corrector.plugin

# This is probably not useful except in debugging.
Brewfile.lock.json
